{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/estilo.css') }}"/>
{% endblock %}

{% block body %}
    {% if app.user %}
            {% if app.user.role == "ROLE_ADMIN" %}
              <div class="panel panel-primary">
                <div class="panel-heading">Admin panel</div>
                <div class="panel-body"><a href="/adminpanel/users">Show users</a></div>
                <div class="panel-body"><a href="/adminpanel/posts">Show posts</a></div>
              </div>
         {% endif %}    
    {% endif %} 
{% endblock %}
